@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --color-fd-background: oklch(1 0 0);
  --color-fd-foreground: oklch(0.141 0.005 285.823);
  --color-fd-card: oklch(1 0 0);
  --color-fd-card-foreground: oklch(0.141 0.005 285.823);
  --color-fd-popover: oklch(1 0 0);
  --color-fd-popover-foreground: oklch(0.141 0.005 285.823);
  --color-fd-primary: oklch(0.59 0.14 242);
  --color-fd-primary-foreground: oklch(0.98 0.01 237);
  --color-fd-secondary: oklch(0.967 0.001 286.375);
  --color-fd-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-fd-muted: oklch(0.967 0.001 286.375);
  --color-fd-muted-foreground: oklch(0.552 0.016 285.938);
  --color-fd-accent: oklch(0.967 0.001 286.375);
  --color-fd-accent-foreground: oklch(0.21 0.006 285.885);
  --color-fd-border: oklch(0.92 0.004 286.32);
  --color-fd-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --color-fd-background: oklch(0.141 0.005 285.823);
  --color-fd-foreground: oklch(0.985 0 0);
  --color-fd-card: oklch(0.21 0.006 285.885);
  --color-fd-card-foreground: oklch(0.985 0 0);
  --color-fd-popover: oklch(0.21 0.006 285.885);
  --color-fd-popover-foreground: oklch(0.985 0 0);
  --color-fd-primary: oklch(0.68 0.15 237);
  --color-fd-primary-foreground: oklch(0.29 0.06 243);
  --color-fd-secondary: oklch(0.274 0.006 286.033);
  --color-fd-secondary-foreground: oklch(0.985 0 0);
  --color-fd-muted: oklch(0.274 0.006 286.033);
  --color-fd-muted-foreground: oklch(0.705 0.015 286.067);
  --color-fd-accent: oklch(0.274 0.006 286.033);
  --color-fd-accent-foreground: oklch(0.985 0 0);
  --color-fd-border: oklch(1 0 0 / 10%);
  --color-fd-ring: oklch(0.552 0.016 285.938);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

button:not(:disabled) {
  cursor: pointer;
}

#nd-docs-layout .\[grid-area\:toc\] {
  justify-self: end;
  padding-inline-end: 0;
}

#nd-page {
  padding-inline: 4rem;
}

@media (min-width: 48rem) {
  #nd-page {
    padding-inline: 6rem;
  }
}

@media (min-width: 80rem) {
  #nd-page {
    padding-inline: 8rem;
  }
}
